s2s_ft/__pycache__
cache/
wandb/
*pt
.cache/
models/
data/ztfData/
HBGL.tar
log.txt
__pycache__/

models/

tensorboard_log/

data/
hogan_ztf/tensor_log/*
*.log
apex/
roberta_model/
hogan_ztf/result/acc_5e-5_10epoch.txt
